# Copyright (C) 2026 Moko Consulting <hello@mokoconsulting.tech>
#
# This file is part of a Moko Consulting project.
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# FILE INFORMATION
# DEFGROUP: GitHub.Workflow
# INGROUP: MokoStandards.Compliance
# REPO: https://github.com/mokoconsulting-tech/MokoStandards
# PATH: /.github/workflows/standards-compliance.yml
# VERSION: 01.00.00
# BRIEF: Standards compliance validation workflow
# NOTE: Runs manually, monthly, and on release builds

name: Standards Compliance

on:
  # Run monthly on the 1st at 00:00 UTC
  schedule:
    - cron: '0 0 1 * *'
  
  # Run on release creation
  release:
    types: [published, created]
  
  # Allow manual triggering with options
  workflow_dispatch:
    inputs:
      profile:
        description: 'Validation profile'
        required: false
        type: choice
        options:
          - 'basic'
          - 'full'
          - 'strict'
        default: 'full'
      fail-on-warnings:
        description: 'Fail workflow on warnings'
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  compliance:
    name: Standards Compliance Validation
    uses: ./.github/workflows/reusable-ci-validation.yml
    with:
      profile: ${{ inputs.profile || 'full' }}
      validate-manifests: true
      validate-changelogs: true
      validate-licenses: true
      validate-security: true
      fail-on-warnings: ${{ inputs.fail-on-warnings || false }}
    secrets: inherit
